@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Outfit', sans-serif;
}

body {
    background: black;
}

header {
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-areas:
        "logo . nav nav nav"
}

#logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
    width: 100%;
}

nav ul {
    display: grid;
    grid-template-areas:
        "about writing contact"
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    text-align: center;
}


#list-about {
    grid-area: about;
}

#list-writing {
    grid-area: writing;
}

#list-contact {
    grid-area: contact;
}